*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
height:100%;
width:100%;
font-size 100%;
line-height: 1;
font-size:14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;
} 

input::-ms-clear{display: none;}
button{cursor: pointer;} 
button::-moz-focus-inner{padding: 0; border:0;} 
a, a:visited{text-decoration: none; color: black;}
a:hover{text-decoration: none;}
ul li{list-style: none;} 
img{vertical-align: top;}


h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

.header{
    width: 1920px;
    height: 60px;
    background: #344051;
    font-family: Montserrat;
    position:fixed;
    
     
}

.logo{
    color: white;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    -webkit-animation: comming 2s ease ;
    -o-animation:comming 2s ease;
    animation:comming 2s ease;
}

.menu{
    float: left;
    padding-left: 430px;
   
}

.menu li{
    float: left;
    color: white;
    font-size: 20px;
    line-height: 60px;
    margin-right: 40px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation:topshift 0.4s ease forwards;
    animation:topshift 0.4s ease forwards;
    opacity: 0;
}


.menu li a{
    transition: all 0.2s;
    color: white;
    transform:scale(1); 
    display: inline-block;
}
.menu li a:visited{
    color: white;
}

.menu li a:hover{
    color: #d17700;
    
}
.menu li a:active{
    transform:scale(1.1);
}





.intro{
    width: 100%;
    height: 100%;
 background : url(../Img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png) 90% 100%/auto 85% no-repeat ,url(../Img/%D1%84%D0%BE%D0%BD.png)center/cover no-repeat ;
    
}

.container{
    font-family: Franklin Gothic Medium;
    float: left;
    text-align: center;
    color: #344051;
    
}

.intro__inner{
    margin: 430px 0px 0px 404px;
    opacity: 0;
    -webkit-animation:titlemove 1s ease forwards;
    -o-animation:titlemove 1s ease forwards;
    animation:titlemove 1s ease forwards;
    -webkit-animation-delay:2.5s;
    -o-animation-delay:2,5s;
    animation-delay:2,5s;
    
}


.intro__title{
    font-size: 60px;
}

.intro__suptitle{
    font-size: 19px;
    line-height: 5;
    color: #79818d;
}

/*Кнопка*/
.btn{ 
  
    display:inline-block;
    vertical-align: top;
    padding:10px 20px; 
    border: 1px solid #344051;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    margin-top: 60px ;
    border-radius: 5px;
    box-shadow: 0 0 5px ;
    margin: 58px 14px;
    transition: background .1s linear,color .1s linear;
    transition-duration: 0.5s;
    
}

.btn:hover {
    background-color: #344051;
    color: #fff; 
    transform: scale(1.1);
}


.intro__inner a:active{
    transform: scale(1)
}


@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}


@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 404px;
    }
 
/*Следующая страница*/

    
.section{
    width: 100%;
    height: 100%;
}    
    
    .section__suptitle{
        font-size: 25px;
        line-height: 1.5px;
    }


    .section__suptitle:after{
        content: "";
        display: block;
        width: 30px;
        margin:20px auto;
        height: 2px;
        
    }
































